<navbar></navbar>

<section  class="container">
  <div class="row">
    <div class="col-lg-12">
      <highchart id="chart1" config="main.chartConfig"></highchart>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stocks-container">

      <div class="col-md-4 col-sm-6 stock-block" ng-repeat="stock in main.stocks">
        <h3>{{ stock.code }} <button type="button" class="close" ng-click="main.deleteStock(stock)">&times;</button></h3>
        <span class="name">{{ stock.name }}</span>
      </div>

      <div class="col-md-4 col-sm-6 stock-block stock-new">
        <label>Syncs in realtime across clients</label>
        <form novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Stock code" ng-model="main.newStock">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" ng-click="main.addStock()">Add</button>
            </span>
          </div>
        </form>

        <div class="error">{{ main.error_message }}</div>
      </div>

    </div>
  </div>
</section>

<footer></footer>
